In [1]:
import pandas as pd

In [2]:
username = 'anamzss'
user_df = pd.read_csv("../../datasets/twitter-questionnaire/"+username+".csv")

In [9]:
train = pd.read_csv('/home/arthur/TCC/datasets/myPersonality_workshop-dataset/mypersonality_final.csv', sep=',', encoding='cp1252')

In [31]:
train[train.cOPN == 'y'].STATUS.to_csv('../../datasets/VOSviewer-documents/train_cOPN_y.csv', index=False, header=False)

In [6]:
user_df.tweet.head()
tweet_df = pd.DataFrame(user_df.tweet)

In [8]:
tweet_df.to_csv('tweet_test.csv')

In [35]:
test = pd.read_csv('../../datasets/VOSviewer-documents/train_cOPN_y (c√≥pia).csv', header=None)

In [36]:
test.head()

                                                   0
0                        likes the sound of thunder.
1  is so sleepy it's not even funny that's she ca...
2  is sore and wants the knot of muscles at the b...
3         likes how the day sounds in this new song.
4                                        is home. <3

In [41]:
def remove_punctuation(input_txt):
    input_txt = input_txt.replace(' ',',')
    return input_txt

In [43]:
test = test.apply(lambda x: remove_punctuation(x))

In [44]:
test.head()

                                                   0
0                        likes the sound of thunder.
1  is so sleepy it's not even funny that's she ca...
2  is sore and wants the knot of muscles at the b...
3         likes how the day sounds in this new song.
4                                        is home. <3